@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .badge-filter {
        @apply inline-flex items-center gap-2 px-3 py-1 rounded-full bg-brand-50 text-brand-800 ring-1 ring-brand-200;
    }

    .badge-filter input[type=checkbox] {
        @apply cursor-pointer opacity-70 hover:opacity-100;
    }

    .badge-filter.active {
        @apply bg-brand-900 text-brand-100 ring-brand-700;
    }
}